.btn-search{
    position: fixed;
    top: 200px;
    width: 50px;
    right: 30px;
    height: auto;
    /* max-height: 400px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px 100px;
    z-index: 145;
    // opacity: 0;
    // visibility: hidden;
    .icon-toggle{
        width: 50px;
        height: 50px;
        display: block;
        border-radius: 50%;
        font-size: 30px;
        text-align: center;
        padding: 7px;
        background-color: rgb(255, 176, 85);
        transition: background-color 0.4s ease;
    }
}

.darkmode-grid{
    background-color: rgb(32, 32, 44);
    color: white;
}

.darkmode-card{
    background-color: rgb(165, 165, 182);
    color: black;
}
html[data-theme="dark"] {
    --primary-color: #fff;
    --secondary-color: #656666;
  }
.light {
    --theme-color: #A80000;
    --theme-page-background: #FFF;
    --theme-page-text: rgb(15, 15, 15);
    --theme-hover-background:#bdbdbd;
}

.dark {
    transition: all 0.5s ease;
    --theme-color: #0000A8;
    --theme-page-background: rgb(88, 88, 88);
    --theme-page-text: #FFF;
    --theme-hover-background:rgb(117, 117, 117);
}