//variables
$font-primary:helvetica;
$font-secondary:arial;
$font-size-primary:8rem;
$font-size-secondary:4rem;
$font-color-primary:#03a9f4;
$font-color-secondary:#0381bb;
$font-color-secondary-ligth:#c5c5c5;
$font-color-secondary-dark:#696969;
