:root{
    --fondo1:rgb(69, 114, 116);
    --fondo2:#03a9f4;
    --fondoContact:#20495c;
    --fondoCard:#fff;
}
@mixin response-to($width) {
    @media(max-width: $width) {
      @content;
    }
  }

@mixin displayflex($display,$direction,$content,$align) {
    display: $display;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

.seccion-contacto{
    position: relative;
    @include  displayflex(flex,row,center,center);
    min-height: 80vh;
    background-color: var(--fondo1);
    overflow: hidden;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: var(--fondo2);
    }

    /* Estilos para el contactinfo*/

    .contact-container{
        padding: 2rem;
        position: relative;
        min-width: 90rem;
        min-height: 50rem;
        display: flex;
        z-index: 100;

        .contactinfo{
            position: absolute;
            top: 4rem;
            width: 35rem;
            height: calc(100%-80px);
            background-color: var(--fondoContact);
            z-index: 200;
            padding: 4rem;
            display: flex;
            @include  displayflex(flex,column,space-between,center);
            box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
            font-family: 'Roboto',sans-serif;
            transition: all 0.5s;

            @media(max-width:991px){
                &{
                    transform: translateX(-100%);
                }
            }
        }
    }
}

.contactinfo h2{
    color: aliceblue;
    font-size: 2.4rem;
    font-weight: 500;
}

.contactinfo .info{
    position: relative;
    margin: 2rem 0;
    li{
        position: relative;
        list-style: none;
        display: flex;
        margin: 2rem 0;
        cursor: pointer;
        align-items: flex-start;

        span:nth-child(1){
            width: 3rem;
            min-height: 3rem;
        }

        span:nth-child(1) i{
            max-width: 100%;
            filter: invert(1);
            opacity: 0.5;
        }

        span:nth-child(2){
            color: #fff;
            margin-left: 10px;
            font-weight: 300;
            opacity: 0.5;
        }
        &:hover span:nth-child(1) img,
        &:hover span:nth-child(2){
            opacity: 1;
        }
    }
}

// Estilos para los Social Icons

.contactinfo .sci{
    position: relative;
    display: flex;
}

.contactinfo .sci li{
    list-style: none;
    margin-right: 1.5rem;
}

.contactinfo .sci li a{
    text-decoration: none;
    /* color: #03a9f4; */
    display: block;
    width: 20%;
}

.contactinfo .sci li a i{
    filter: invert(1);
    opacity: 0.5;
}

.contactinfo .sci li:hover a i{
    opacity: 1;
}

.contact-container .cardForm{
    // font-size: 50%;
    position: absolute;
    padding: 2rem 5rem;
    background-color: var(--fondoCard);
    left: 25rem;
    padding-left: 25rem;
    width: calc(100%-150px);
    height: 100%;
    z-index: 1;
    box-shadow: 0 5rem 5rem rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    h2{
        color: #0f3959;
        font-size: 2.4rem;
        font-weight: 500;
    }
    .formBox{
        font-size: 62.5%;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 3rem;
        .inputBox{
            position: relative;
            margin: 0 0 35px 0;
            @media(max-width:768px){
                &.w50{
                    width: 90%;
                }
            }
        }
        .w50{
            width: 37%;
            @media(max-width:576px){
                &{
                    width: 100%;
                }
            }
        }
        .w100{
            width: 100%;
        }
        @media(max-width:768px){
        &{
            position: relative;
            @include  displayflex(flex,column,space-between,center);
            flex-wrap: wrap;
            padding-top: 3rem;
        }
        }
        @media(max-width:576px){
            &{
                position: relative;
                @include  displayflex(flex,column,space-between,center);
                flex-wrap: wrap;
                padding-top: 3rem;
            }
        }
    }
    @media(max-width:991px){
        &{
            position: relative;
            margin: auto;
            left: 2rem;
            padding: 0px;
            padding: 2rem 10rem;
            width: 60%;
        }
    }
    @media(max-width:768px){
        &{
        position: relative;
        margin: auto;
        left: 1%;
        padding: 0px;
        padding: 2rem 10rem;
        width: 50%;
        }
    }
    @media(max-width:576px){
        &{
        position: relative;
        margin: auto;
        padding: 0px;
        padding: 2rem 10rem;
        width: 40%;
        }
    }
}

.formBox .inputBox input,
.formBox .inputBox textarea{
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.8rem;
    font-weight: 300;
    color: #333;
    resize: none;
    border: none;
    border-bottom: 0.1rem solid #777;
    outline: none;
}

.formBox .inputBox textarea{
    min-height: 12rem;
}

.formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 0.5rem 0;
    font-size: 1.8rem;
    font-weight: 300;
    color: #333;
    transition: 0.5s;
    pointer-events: none;
}

.formBox .inputBox input:focus ~ span, 
.formBox .inputBox textarea:focus ~ span,
.formBox .inputBox input:valid ~ span, 
.formBox .inputBox textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ff568c;
}

.formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background-color: #0f3959;
    color: #fff;
    border: none;
    max-width: 15rem;
    padding: 1.2rem;

    @media(max-width:576px){
        &{
            margin: 0 5rem
        }
    }
}

.seccion-contacto .contact-container .cardForm .formBox 
.inputBox input[type="submit"]:hover{
    background-color: #ff568c;
}